[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
numpy = "*"
keras = "*"
requests = "==2.32.3"
tensorflow = "==2.12"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
